{% extends "base.html" %}


{% block app_content %}
  <h1>History</h1>
  
  <ol start={{ start }}>
    {% for i in range(start, end) %}
      <li>At {{ moment(L[total-i][0].timestamp).format('LLLL') }}</li>
      {% if current_user.username=='admin' %}
        <ul>
          {% if L[total-i][0].status==1 %}
          {% for order in L[total-i][1] %}
            <li>You add the dish {{ order.dish.dishname }}</li>
          {% endfor %}
          {% else %}
            <li>You remove the dish {{ L[total-i][0].removed_dish }}</li>
          {% endif %}
        </ul>
      {% else %}
        <ul>
          {% for order in L[total-i][1] %}
              <li>{{ order.quantity }} {{ order.dish.dishname }} {{ (order.dish.amount)*(order.quantity) }}</li>
          {% endfor %}
        </ul>
        <ul><li>Total cost: Rs. {{ L[total-i][0].total_amount }}</li></ul>

        {% if L[total-i][0].status==0 %}
          <span style="color:orange;">Order Cancelled</span><br>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if start > 10 %}
      <a href="{{ url_for('history', start=start-10) }}">Previous</a>
    {% elif start != 1 %}
      <a href="{{ url_for('history', start=1) }}">Previous</a>
    {% endif %}

    {% if end <= (total//10)*10+1 %}
      <a href="{{ url_for('history', start=end) }}">Next</a>
    {% elif end != total+1 %}
      <a href="{{ url_for('history', start=(total//10)*10) }}">Next</a>
    {% endif %}
  </ol>
{% endblock %}
