{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Dishes</h1>
    <div class="row">
      <div class="col-sm-9 col-md-6 col-lg-4">
        {{ wtf.quick_form(form1) }}
      </div>
    </div>
    <div class="row">
      {% for dish in dishes %}
        {% for quantity in quantities %}
          {% if quantity.dish.dishname==dish.dishname %}
            <div class="col-sm-6 col-md-3 dish">
              {% include "_dish.html" %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <br>

    {% if current_user.username=='admin' %}
      <div class="row">
        <div class="col-sm-9 col-md-6 col-lg-4">
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    {% else %}
      <form action="{{ url_for('order') }}" method="post">
        <input type="submit" name="" value="Order">
      </form>
    {% endif %}
{% endblock %}
