{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
  <h1>Dishes</h1>
  <div class="row">
    <div class="col-sm-9 col-md-6 col-lg-4">
      <form class="form" method="post" id="form1" class="form" role="form">
        {{ form1.hidden_tag() }}
        {{ wtf.form_errors(form1, hiddens="only") }}
      
        {{ wtf.form_field(form1.search) }}
        {{ wtf.form_field(form1.submit, id="search_dish") }}
      </form>
    </div>
  </div>
  <br>

  {% if not current_user.is_anonymous %}
    {% for dish in dishes %}
      {% for quantity in quantities %}
        {% if quantity.dish.dishname==dish.dishname %}
          {% include "_dish.html" %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for dish in dishes %}
      {% include "_dish.html" %}
    {% endfor %}
  {% endif %}
  <br><br>

  {% if current_user.username=='admin' %}
    <div class="row">
      <div class="col-sm-9 col-md-6 col-lg-4">
        <h3 align="center">Add New Dish</h3>
        <form class="form" method="post" id="form" class="form" role="form">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
        
          {{ wtf.form_field(form.dishname) }}
          {{ wtf.form_field(form.amount) }}
          {{ wtf.form_field(form.timetaken) }}
          {{ wtf.form_field(form.submit, id="add_new_dish") }}
        </form>
      </div>
    </div>
  {% elif not current_user.is_anonymous %}
    <form action="{{ url_for('order') }}" method="post">
      <input class="btn" type="submit" value="Order">
    </form>
  {% else %}
    {% include "login.html" %}
  {% endif %}
{% endblock %}
