{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Modify {{ dish.dishname }}</h1>
    <div class="row">
        <div class="col-sm-9 col-md-6 col-lg-4">
            <form class="form" method="post" id="form" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
              
                {{ wtf.form_field(form.dishname, value=dish.dishname) }}
                {{ wtf.form_field(form.amount, value=dish.amount) }}
                {{ wtf.form_field(form.timetaken, value=dish.timetaken) }}
                {{ wtf.form_field(form.submit, id="modify_dish", value="Modify") }}
            </form>
        </div>
    </div>
{% endblock %}
